<div class="row">
  <div class="col col-md-12">
    <div class="row row-div">
      <div class="col col-md-12">
        <div class="row pedir">
          <div class="col col-md-2">
              <button class="btn" (click)="juegaBanca()">Stop</button>
          </div>
          <div class="col col-md-10"><span class="puntos">Puntos banca : {{puntosBanca}}</span></div>
        </div>
        <div class="row cartas">
          <div class="col col-md-2"></div>
          <div class="col col-md-8">
            <img *ngFor="let carta of cartasTiradasBanca" src="{{carta.imagen}}" alt="">
          </div>
          <div class="col col-md-2"></div>
        </div>
      </div>
    </div>
    <div class="row row-div">
      <div class="col col-md-12">
        <div class="row pedir">
          <div class="col col-md-2">
            <button class="btn" (click)="pedir()">Pedir carta</button>
          </div>
          <div class="col col-md-10"><span class="puntos">Puntos jugador : {{puntosJugador}}</span></div>
        </div>
        <div class="row cartas">
          <div class="col col-md-2"></div>
          <div class="col col-md-8">
            <img *ngFor="let carta of cartasTiradasJugador" src="{{carta.imagen}}" alt="">
          </div>
          <div class="col col-md-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
  
